{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
{% include "admin/header.html.twig" %}
<main class="main_admin">

<h2>Page en cours de Maintenance </h2>
</main>
{% include "admin/footer.html.twig" %}
{% endblock %}
