{% extends 'base.html.twig' %}



{% block body %}
<header>
<nav class="navbar shadow-1 orange light-1 text-white ">
  <a href="index" class="navbar-brand navbar-centered">Médi'Avenir</a>
  <div class="navbar-menu ml-auto">
 <a class="navbar-link " href="/admin">Accueil</a>
    <a class="navbar-link" href="/livre">Catalogue</a>
     <a class="navbar-link" href="/emprunt">Emprunt</a>
    <a class="navbar-link" href="/user">Inscrit</a>
    <a class="navbar-link" href="/profil">Profil</a>
    <a class="navbar-link" href="/logout">Déconnexion</a>
  </div>
</nav>

</header>
{% endblock %}
