{% extends 'base.html.twig' %}



{% block body %}
<main class="main_admin">
<h2 class="text-center">Bienvenue sur Médi'Avenir Admin </h2>
<div class="grix xs2">

<section  id="bienvenue">
<div class="card shadow-1 hoverable-1 rounded-3 white text-centered">
  <div class="card-header">Card header</div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>

<section  id="contact">
<div class="card shadow-1 hoverable-1 rounded-3 white">
  <div class="card-header text-center">A Propos de Nous </div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>

 <section  id="contact">
<div class="card shadow-1 hoverable-1 rounded-3 white">
  <div class="card-header text-center">A Propos de Nous </div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>

<section  id="contact">
<div class="card shadow-1 hoverable-1 rounded-3 white">
  <div class="card-header text-center">A Propos de Nous </div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>


</div>
</main>
    
{% endblock %}

