{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}
{% include "admin/header.html.twig" %}
  <main class="main_admin" style="height:840px;display:flex;flex-direction:column;justify-content:center;align-item:center;">

<div class="card shadow-1 white  text-center">
    <h1>Modification Livre</h1>

    {{ include('livre/_form.html.twig', {'button_label': 'Update'}) }}
  {{ include('livre/_delete_form.html.twig') }}
</div>
<div class="card shadow-1 white  text-center">

    <a href="{{ path('app_livre_index') }}">back to list</a>

  
</div>
    </main>

    
    {% include "admin/footer.html.twig" %}


{% endblock %}
