{% block body %}
<div class="fab" id="fab-example" data-ax="fab">
  <!-- Here is the fab-trigger -->
  <form action="{{ path('app_livre_new') }}" >
  <button class="btn shadow-1 btn-circle btn-large secondary" data-target="fab-example">
    <span class="iconify-inline" data-icon="mdi:book-plus"></span>
  </button>
  </form>
</div>
{% endblock %}

