{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
{% include "admin/header.html.twig" %}
  <main class="main_admin" style="height:840px;display:flex;flex-direction:column;justify-content:center;align-item:center;">


<div class="card shadow-1 white  text-center">
    <h1>Ajout Livre</h1>

    {{ include('livre/_form.html.twig') }}
</div>

<div class="card shadow-1 white  text-center">
    <a href="{{ path('app_livre_index') }}">back to list</a>
    </main>
    </div>
    {% include "admin/footer.html.twig" %}


{% endblock %}
