{% extends 'base.html.twig' %}

{% block body %}
<main class="main_accueil">
<h2 class="text-center">Bienvenue sur Médi'Avenir</h2>
<div class="grix xs3">

<section  id="bienvenue">
<div class="card shadow-1 hoverable-1 rounded-3 white text-centered">
  <div class="card-header">Card header</div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>

<section  id="contact">
<div class="card shadow-1 hoverable-1 rounded-3 white">
  <div class="card-header text-center">A Propos de Nous </div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>

 <section  id="contact">
<div class="card shadow-1 hoverable-1 rounded-3 white">
  <div class="card-header text-center">A Propos de Nous </div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>

<section  id="contact">
<div class="card shadow-1 hoverable-1 rounded-3 white">
  <div class="card-header text-center">A Propos de Nous </div>
  <div class="card-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
      possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
    </p>
  </div>
</div>
</section>
<section  id="horaire">
<div class="card shadow-1 hoverable-1 rounded-3 white text-center">
  <div class="card-header text-center">Nos Horaires </div>
  <div class="card-content">
   
    <p>Lundi : 10h00-15h00</p>
      <p>Mardi : 10h00-15h00</p>
        <p>Mercredi : Fermé</p>
          <p>Jeudi : 10h00-15h00</p>
           <p>Vendredi : 10h00-15h00</p>
            <p>Vendredi : 10h00-15h00</p>
             <p>Samedi : 10h00-15h00</p>
              <p>Dimanche : Fermé</p>
   


  </div>
</div>
</section>
<section  id="localisation">
<div class="card shadow-1 hoverable-1 rounded-3 white">
  <div class="card-header text-center">Où nous trouver ?</div>
  <div class="card-content">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.7782458348!2d2.2646349990563044!3d48.85893843455474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis!5e0!3m2!1sfr!2sfr!4v1699313675664!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</section>
</div>
</main>
    
{% endblock %}
